* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background: rgb(210, 194, 194);
  padding: 0 16px;
}

header {
  background-color: #0b7670;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(223, 12, 12, 0.3);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header h1 {
  color: rgb(215, 209, 209);
  font-family: 'Fredericka the Great', cursive;
  font-weight: 500;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: rgb(10, 83, 98);
  font-family: 'Monoton', cursive;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
